<div class="pb-5 bg-body-secondary">
  <div class="container text-center py-2">
    <div class="row align-items-center">
      <div class="col text-wrap-balance">
        Web publishing workshop template.
        <br />
        <span class="text-nowrap">
          <i class="bi-c-circle"></i> 2024 István Donkó
        </span>
      </div>
      <hr class="d-sm-none my-2" />
      <div class="col">
        <a href="https://github.com/komm-on/eleventy-bootstrap">
          <i class="bi-github fs-2"></i>
          <br />
          @komm-on/eleventy-bootstrap
        </a>
        <br />
      </div>
      <hr class="d-sm-none my-2" />
      <div class="col">
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-transparent">
            <a href="https://www.11ty.dev">Eleventy</a>
          </li>
          <li class="list-group-item bg-transparent">
            <a href="https://getbootstrap.com">Bootstrap</a>
          </li>
          <li class="list-group-item bg-transparent">
            <a href="https://icons.getbootstrap.com">Bootstrap Icons</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
