---
layout: page
title: Blog
pagination:
  data: collections.blog-post
  size: 8
  reverse: true
  alias: posts
---

<h2><i class="bi-book"></i> Posts</h2>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
  {%- for post in posts -%}
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card h-100">
      <img src="{{ post.data.cover }}" class="card-img-top object-fit-cover"
        style="height: 200px">
      <div class="card-body">
        <h5 class="card-title">{{ post.data.title }}</h5>
        <p class="card-text">{{ post.data.teaser }}</p>
      </div>
      <div class="card-body align-self-end flex-grow-0">
        <a href="{{ post.url }}" class="btn btn-outline-primary stretched-link">
          Read »
        </a>
      </div>
    </div>
  </div>
  {%- endfor -%}
</div>

<!-- TODO: Limit the maximum number of pages shown to a reasonable amount -->
{% if pagination.pages.length > 1 %}
<nav class="my-4">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="{{ pagination.href.first }}">
        <i class="bi-chevron-double-left"></i>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="{{ pagination.href.previous }}">
        <i class="bi-chevron-left"></i>
      </a>
    </li>
    {%- for pageEntry in pagination.pages %}
    <li class="
      page-item
      {% if page.url == pagination.hrefs[forloop.index0] %} active {% endif %}
    ">
      <a class="page-link" href="{{ pagination.hrefs[ forloop.index0 ] }}">
        {{ forloop.index }}
      </a>
    </li>
    {%- endfor %}
    <li class="page-item">
      <a class="page-link" href="{{ pagination.href.next }}">
        <i class="bi-chevron-right"></i>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="{{ pagination.href.last }}">
        <i class="bi-chevron-double-right"></i>
      </a>
    </li>
  </ul>
</nav>
{% endif %}
